NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/circle-funds
JWT_SECRET=your_super_secret_jwt_key_change_this_min_32_chars_long
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
